/* --- STYLE GLOBAL --- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: hsl(0, 0%, 0%); /* Jaune très clair */
    color: #ffffff;
}

/* Section d'accueil centrée */
.hero {
    height: 100vh; /* prend tout l'écran */
    display: flex;
    justify-content: center; /* centre horizontal */
    align-items: center; /* centre vertical */
    flex-direction: column;
    background-color: #000; /* fond noir comme la vidéo */
}

.h2{
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: #FFD700;
}

/* Style du texte doré et centré */
.hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

.hero-title span {
    display: block; /* force le retour à la ligne */
}

.white {
    color: white;
}

.yellow {
    color: #c59416;
}

section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

/* --- MENU --- */
header {
    background: #c59416;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* --- CATALOGUE PRODUITS --- */
.produits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.produit {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.produit img {
    width: 100%;
    border-radius: 8px;
}

/* --- PAGE PRODUIT --- */
.image-produit {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* --- FORMULAIRE CONTACT --- */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #d4a017;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #b98e12;
}

/* --- FOOTER --- */
footer {
    background: #d4a017;
    text-align: center;
    padding: 15px;
    color: white;
    margin-top: 40px;
}

